/com/
/commons/
/data/
/eclipseTips/
/javaAccModFirst/
/javaBasic/
/javaOOP/
/reportConfig/
/exception/
/pageFactory/
/pageObjects/
/pageUIs/
/payObjects/
/retryConfig/
/utilities/
/allure.properties
/reportConfig1/
/reportConfig2/
/runNopCommerceTest.xml
/runNopcommerceTest.xml
/runsauceLabsSortTest.xml
