/com/
/commons/
/data/
/dev.properties
/eclipseTips/
/javaAccModFirst/
/javaBasic/
/javaOOP/
/log4j.xml
/pageFactory/
/pageObjects/
/pageUIs/
/reportConfig/
/retryConfig/
/runNopCommerceTestcase.xml
/staging.properties
/testing.properties
/utilities/
