/UsetDataTest.json
/allure.properties
/com/
/commons/
/data/
/dev.properties
/eclipseTips/
/exception/
/javaAccModFirst/
/javaBasic/
/javaOOP/
/log4j.xml
/pageFactory/
/pageObjects/
/pageUIs/
/payObjects/
/reportConfig/
/retryConfig/
/runFacebookTest.xml
/runNopCommerceTestcase.xml
/runjQueryTestcase.xml
/runjQueryUploadFile.xml
/runsauceLabsSortTest.xml
/staging.properties
/testing.properties
/utilities/
/UserDataTest.json
